*
!/compilers
/compilers/*
!/compilers/autopar.py
!/compilers/cetus.py
!/compilers/compiler.py
!/compilers/gcc.py
!/compilers/icc.py
!/compilers/par4all.py
!/compilers/dummy.py
!/compilers/binaryCompiler.py
!/compilers/parallelCompiler.py
!/compilers/makefile.py
!remove_compar_annot.py
!/data/*
!/assets
!/assets/*
!.gitignore
!compar.py
!database.py
!job_executor.py
!fragmentator.py
!timer.py
!requirements.txt
!job.py
!execute_job.py
!exceptions.py
!file_formator.py
!parameters.py
!combination.py
!program.py
!parse_nas_runtime.py
!/GUI
!/GUI/templates
!/GUI/codemirror
!/GUI/codemirror/**
!/GUI/static
!/GUI/static/**
!/GUI/app.py
!/GUI/templates/single-file-mode.html
!/GUI/templates/multiple-files-mode.html
!/GUI/templates/makefile-mode.html
!subprocess_handler.py
!python_compar.sh
!logger.py
!c_code_dependencies_in_compar.txt
!combinator.py
!globals.py
!combination_validator.py
