*
!/compilers
/compilers/*
!/compilers/autopar.py
!/compilers/cetus.py
!/compilers/compiler.py
!/compilers/gcc.py
!/compilers/icc.py
!/compilers/par4all.py
!/compilers/binaryCompiler.py
!/compilers/parallelCompiler.py
!/compilers/makefile.py
!/assets
!/assets/*
!.gitignore
!compar.py
!database.py
!executor.py
!fragmentator.py
!timer.py
!requirements.txt
!job.py
!execute_job.py
!exceptions.py
!file_formator.py
!parameters.py
!combination.py
!program.py
!parse_nas_runtime.py
!/compar_app
!/compar_app/templates
!/compar_app/codemirror
!/compar_app/codemirror/**
!/compar_app/static
!/compar_app/static/**
!/compar_app/app.py
!/compar_app/templates/single-file-mode.html
!/compar_app/templates/multiple-files-mode.html
!/compar_app/templates/makefile-mode.html
!subprocess_handler.py

