*
!/compilers
/compilers/*
!/compilers/autopar.py
!/compilers/cetus.py
!/compilers/compiler.py
!/compilers/gcc.py
!/compilers/icc.py
!/compilers/par4all.py
!/compilers/compilerToExe.py
!.gitignore
!compar.py
!database.py
!executor.py
!fragmentator.py
!timer.py
!requirements.txt
!job.py
!execute_job.py
!exceptions.py
!file_formator.py
!parameters.py
!combination.py
