.page-layout {
    width: 100vw;
    height: calc(100vh - 42px);
    background: grey;
}
.CodeMirror {
    box-sizing:border-box;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.title{
    box-sizing: border-box;
    padding: 4px;
    color: black;
    background: grey;
    font-weight: bold;

}
.mycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background: black;
    box-sizing: border-box;
    padding: 20px 0px;
}

button {
    width: 90px;
    box-shadow: 0px 0px 5px black;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}

button:focus {
   outline: none;
}

.form-container {
    height: 100%;
    min-width: 310px;
    border: 2px solid gray;
    width: 20%;
    background: #282a36;
    overflow: auto;
}

.screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

.output-log {
    background: #282a36;
    border: 2px solid gray;
    height: 50%;
    width: 100%;
    margin-top: 8px;
}

.output-folder {
    background: #282a36;
    border: 2px solid gray;
    height: 50%;
    width: 100%;
}

.out {
    height: 100%;
    width: 100%;
    padding: 8px;
    color: white;
    overflow: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.flex-row-spaced {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.textarea-cover {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.startbtn {
    color: white;
    width: 150px;
    border: 1px solid white;
    font-weight: bold;
    background: black;
    margin: 30px 0px;
    box-shadow: 0px 0px 5px white;
}

.startbtn:active{
    background: gray;
}

.startbtn:focus{
    outline: none;
}


.separator {
    width: 1px;
    height: 100%;
    background: black;
    margin: 0px 12px;
}

.seperate {
    margin: 0px 0px 0px 20px;
}

.ref {
    text-decoration: none;
    color: white;
}

.form {
    padding: 12px;
    color: white;
}

.form input{
    color: black;
    box-sizing: border-box;
    padding: 0px 4px;
    margin: 8px 0px;
}

.form input:focus {
    outline: black;
}

.form-title {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

a {
    font-size: 16px;
}

a:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: 1s;
}

select {
    color: black;
    margin: 8px 0px;
    width: 100px;
    border-radius: 0px;
}

select:focus{
    outline:none;
}

.mybutton {
    color: white;
    border-radius: 30%;
    width: 29px;
    max-width: 29px;
    font-weight: bold;
    margin-left: 20px;
}

.horizontal-separator {
    width: 100%;
    height: 1px;
    background: white;
    margin: 8px 0px;
}


#parameters, #flags, #cfile-parameters, #include, #ignore, #makecommands {
    color:white;
    background: none;
    border: none;
    max-width: 100%;
    border: 1px solid gray;
    margin: 4px 0px;
    width: 100%;
}

#parameters,#flags, #cfile-parameters, #include, #ignore, #makecommands:focus{
    outline: none;
}

.mybutton:active{
    background: black;
}

.mybutton:focus {
    outline: none;
}

.positive {
    background: green;
}

.negative {
    background: red;
}

.advanced {
    font-size: 14px;
    font-weight: bold;
    color: #989898;
    text-decoration: underline;
    cursor: pointer;
}

#advanced {
    display: none;
}

.advanced:active {
    color: white;
    text-decoration: none;
    cursor: wait;
}

.advanced:hover {
    font-size:16px;
    transition: 0.7s;
}

.advanced:hover {
    font-size:16px;
    color: white;
    transition: 2s;
}

.resizable {
    border: 2px solid gray;
    resize: vertical;
    z-index: 1000;
    min-width: 200px;
}
