<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <title>Compar - Multiple files mode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/multiple_files_mode/on_load.js')}}"></script>
    <script src="{{ url_for('static', filename='js/common/advanced_options.js')}}"></script>
    <script src="{{ url_for('static', filename='js/single_file_mode/dynamic_parameters.js')}}"></script>
    <script src="{{ url_for('static', filename='js/multiple_files_mode/multiple_files_mode_execution.js')}}"></script>
    <script src="{{ url_for('static', filename='js/multiple_files_mode/form_and_errors.js')}}"></script>
</head>

<body onLoad="init()">
    <nav>
        <div class="navtitle">Compar</div>
        <div class="separator"></div>
        <a href="/singlefile" class="ref">Single File Mode</a>
        <a href="/multiplefiles" id="multiplemod" class="seperate ref">Multiple files Mode</a>
        <a href="/makefile" class="seperate ref">Makefile Mode</a>
    </nav>
    <form method="POST" action="/multiplefiles"  enctype="multipart/form-data" id="form" novalidate>
        {{ form.slurm_parameters(id="slurmParametersList", style="display:none") }}
        {{ form.main_file_parameters(id="mainFileParamList", style="display:none") }}
        {{ form.compiler_flags(id="binaryCompilerFlags", style="display:none") }}
        <div class="page-layout">
            <div class="mycontainer">
                <div class="form-container form">
                    <div class="title">Compar Parameters</div>
                    <div class="form-area">
                        {{ form.csrf_token }}
                        <div class="flex-row-spaced">
                            <div class="form-title">Input directory:</div>
                            <div class="tooltip informationButton">i
                                <span class="tooltiptext">Absolute path to the input directory</span>
                            </div>
                        </div>
                        {{ form.input_directory }}
                        <div style="color: red;" id="inputDirectoryAlert">{{ error }}</div>
                        <div class="horizontal-separator"></div>
                        <div class="flex-row-spaced">
                            <div class="form-title">Output directory:</div>
                            <div class="tooltip informationButton">i
                                <span class="tooltiptext">Absolute path to the output directory</span>
                            </div>
                        </div>
                        {{ form.output_directory }}
                        <div style="color: red;" id="outputDirectoryAlert">{{ error }}</div>
                        <div class="horizontal-separator"></div>
                        <div class="flex-row-spaced">
                            <div class="form-title">Main c file:</div>
                            <div class="tooltip informationButton">i
                                <span class="tooltiptext">Relative path to the directory containing the main c file</span>
                            </div>
                        </div>
                        {{ form.main_file_path }}
                        <div style="color: red;" id="mainFileAlert">{{ error }}</div>
                        <div class="horizontal-separator"></div>
                        <div style="align-items: center" class="flex-row">
                            <div class="form-title">Binary Compiler:</div>
                            {{ form.compiler(style='margin-left: 30px') }}
                        </div>
                        <div class="horizontal-separator"></div>
                        <div class="advanced" onclick="showAdvancedOptions()">Advanced options >></div>
                            <div id="advanced">
                                <div class="form-title">Binary compiler flags:</div>
                                <div style="align-items: center" class="flex-row">
                                    <input type="text" id="compiler-flags"/>
                                    <button type="button" onclick="addItem('binaryCompilerFlags','compiler-flags', 'compiler-flags-list')" class="mybutton positive">+</button>
                                </div>
                                <div id="compiler-flags-list"></div>
                                <div class="horizontal-separator"></div>
                                <div class="form-title">Binary compiler version:</div>
                                    <div style="color: red;" id="compilerVersionAlert">{{ error }}</div>
                                {{ form.compiler_version }}
                                <div class="horizontal-separator"></div>
                                <div class="form-title">Slurm partition:</div>
                                {{ form.slurm_partition(id="slurm_part") }}
                                <div style="color: red;" id="slurmPartitionAlert">{{ error }}</div>
                                <div class="horizontal-separator"></div>
                                <div style="align-items: center" class="flex-row">
                                    <div class="form-title">Save combination folders:</div>
                                    {{ form.save_combinations(style='margin-left: 30px')}}
                                </div>
                                <div class="horizontal-separator"></div>
                                <div style="align-items: center" class="flex-row">
                                    <div class="form-title">Clear database data:</div>
                                    {{ form.clear_database(style='margin-left: 30px')}}
                                </div>
                                <div class="horizontal-separator"></div>
                                <div class="flex-row" style="align-items: center;">
                                     <div style="align-items: center" class="flex-row">
                                        <div class="form-title">Using Compar output:</div>
                                        {{ form.with_markers(style='margin-left: 30px')}}
                                     </div>
                                     <div class="tooltip informationButton">i
                                        <span class="tooltiptext">Mark as "Yes" when the source code is a product of Compar</span>
                                     </div>
                                </div>
                                <div class="horizontal-separator"></div>
                                <div class="form-title">Slurm parameters:</div>
                                <div class="flex-row-centered">
                                 <input type="text" id="slurm-params"/>
                                 <button type="button" onclick="addItem('slurmParametersList','slurm-params', 'slurm-parameters-list')" class="mybutton positive">+</button>
                                </div>
                                <div id="slurm-parameters-list"></div>
                                <div class="horizontal-separator"></div>
                                <div class="flex-row-spaced">
                                    <div class="form-title">Maximum job count:</div>
                                    <div class="tooltip informationButton">i
                                        <span class="tooltiptext">Maximum number of jobs running simultaneously</span>
                                    </div>
                                </div>
                                <div style="color: red;" id="jobCount">{{ error }}</div>
                                {{ form.jobs_count }}
                                <div class="horizontal-separator"></div>
                                <div class="flex-row-spaced">
                                    <div class="form-title">Execution time limit:</div>
                                    <div class="tooltip informationButton">i
                                        <span class="tooltiptext">Time limit for each combination</span>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center" id="time-span">
                                    <div class="flex-col">
                                        <div>D</div>
                                        {{ form.days_field(style='width: 50px') }}
                                    </div>

                                    <div class="flex-col">
                                        <div>H</div>
                                        {{ form.hours_field(style='width: 50px') }}
                                    </div>

                                    <div class="flex-col">
                                        <div>M</div>
                                        {{ form.minutes_field(style='width: 50px') }}
                                    </div>

                                    <div class="flex-col">
                                        <div>S</div>
                                        {{ form.seconds_field(style='width: 50px') }}
                                    </div>

                                </div>
                                <div class="horizontal-separator"></div>
                                <div class="form-title">Main file parameters:</div>
                                <div class="flex-row-centered">
                                 <input type="text" id="main-file-params"/>
                                 <button type="button" onclick="addItem('mainFileParamList','main-file-params','main-params-list')" class="mybutton positive">+</button>
                                </div>
                                <div id="main-params-list"></div>
                                <div class="horizontal-separator"></div>
                                <div style="align-items: center" class="flex-row">
                                <div class="form-title">Log level:</div>
                                {{ form.log_level(style='margin-left: 30px') }}
                                </div>
                                <div class="horizontal-separator"></div>
                                <div class="flex-row-spaced">
                                    <div class="form-title">Compar mode:</div>
                                    {{ form.compar_mode(style='margin-left: 30px') }}
                                    <div class="tooltip informationButton">i
                                        <span class="tooltiptext">Override - remove any existing data. New - create a new project if it exists. Continue - in case that project exist, continue from last point.</span>
                                    </div>
                                </div>
                                <div class="horizontal-separator"></div>
                                <div class="flex-row-spaced">
                                   <div class="form-title">Validation file path:</div>
                                    <div class="tooltip informationButton">i
                                        <span class="tooltiptext">Absolute path to python file named “test_output.py” with test function “test_output”. This file will validate the output of every combination.</span>
                                    </div>
                                </div>
                                {{ form.test_path }}
                                <div style="color: red" id="validationPathAlert"></div>
                            </div>
                        <button type="submit" value="Submit" id="startComparButton" class="startbtn">START</button>
                        </div>
                    </div>
                    <div class="screen-container">
                        <div class="output-folder flex-col">
                            <div class="title">Output Folder</div>
                            <div class="out"></div>
                        </div>
                        <div class="output-log flex-col">
                            <div class="title">Output Log</div>
                            <div class="out">
                                <div id="output"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</body>
</html>