{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div style="margin:30px">
    <div class="page-header"><h1>Welcome To Compar!</h1></div>
    <div style="margin:35px">
        <h2>Basic information</h2>
        <form action="/" method="post">
            <div class="col-md-12" style="font-size:20px">
              <div class="form-row" style="margin:35px">
                <div class="form-group col-md-6" style="width: 25%">
                    {{ wtf.form_field(main_form.work_dir) }}
                </div>
                <div class="form-group col-md-6" style="width: 25%">
                    {{ wtf.form_field(main_form.slum_params) }}
                </div>
                <div class="form-group col-md-6" style="width: 25%">
                    <div class="form-group">
                        {{ main_form.save.label }}
                        {{ main_form.save() }}
                    </div>
                </div>
              </div>
            </div>
            <h2>Choose flags for parallel compilers:</h2>
            <div style="margin:20px">
                <h5>Please separate flags by comma - ','</h5>
            </div>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(comp_form.p4a) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(comp_form.autopar) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(comp_form.autopar) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ main_form.make_file_choice.label }}
                        {{ main_form.make_file_choice() }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:25px">
                <div class="form-group">
                    {{ main_form.submit1() }}
                </div>
                <hr>
            </div>
            {% if make_form %}
            <h2>Makefile:</h2>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.input_dir) }}
                    </div>
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.ignore) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(make_form.include) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.make_commands) }}
                    </div>
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.make_op) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(make_form.make_on) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.main_file_p) }}
                    </div>
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(make_form.main_file_r_p) }}
                    </div>
                    <!--<div class="form-group col-md-2">-->
                        <!--{{ make_form.nas_file.label }}-->
                        <!--{{ make_form.nas_file() }}-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-12" style="font-size:25px">
                <div class="form-group">
                    {{ start_form.submit3() }}
                </div>
                <hr>
            </div>
            {% endif %}

            {% if binary_comp_form %}
            <h2>Choose binary compiler:</h2>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(binary_comp_form.binary_comp_name) }}
                    </div>
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(binary_comp_form.binary_comp_version) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(binary_comp_form.binary_comp_flags) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ exists_file_form.exists_file.label }}
                        {{ exists_file_form.exists_file() }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-size:25px">
                <div class="form-group">
                    {{ exists_file_form.submit2() }}
                </div>
                <hr>
            </div>
            {% endif %}

            {% if exists_c_file_form %}
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(exists_c_file_form.input_dir) }}
                    </div>
                    <div class="form-group col-md-4" style="width: 25%">
                        {{ wtf.form_field(exists_c_file_form.main_file_p) }}
                    </div>
                    <div class="form-group col-md-6" style="width: 25%">
                        {{ wtf.form_field(exists_c_file_form.main_file_r_p) }}
                    </div>
                    <!--<div class="form-group col-md-2">-->
                        <!--{{ exists_c_file_form.nas_file.label }}-->
                        <!--{{ exists_c_file_form.nas_file() }}-->
                    <!--</div>-->
                </div>
                <div class="col-md-12" style="font-size:25px">
                    <div class="form-group">
                        {{ start_form.submit3() }}
                    </div>
                    <hr>
                </div>
            </div>
            {% endif %}

            {% if editor_c_form %}
            <div class="col-md-12" style="font-size:20px">
                <div class="form-row" style="margin:35px">
                    <div class="form-group col-md-4" style="width: 25%">
                            {{ editor_c_form.editor.label }}
                            {{ editor_c_form.editor(cols="150", rows="15") }}
                    </div>
                </div>
                <div class="col-md-12" style="font-size:25px">
                    <div class="form-group">
                        {{ start_form.submit3() }}
                    </div>
                    <hr>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}