
<style>
    nav {
        height: 42px;
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        padding: 4px;
        align-items: center;
        box-shadow: 0px 0px 5px black;
    }

    .navtitle {
        font-weight: bold;
        font-size: 24px;
    }

    .separator {
        width: 1px;
        height: 100%;
        background: black;
        margin: 0px 12px;
    }

    .seperate {
        margin: 0px 0px 0px 20px;
    }

</style>

<nav>
    <div class="title">Compar</div>
    <div class="separator"></div>
    <div>Copy Pase Mode</div>
    <div class="seperate">Makefile Mode</div>
    <div class="seperate">Single File Mode</div>
</nav>
