{%extends "base.html" %}
{% block content %}
<body>
   <div class="jumbotron text-center">
        <h1>Compar</h1>
   </div>
   <form action="/" method="POST" class="text-center">
       <input  type="submit"  name="submit_button" value="Start Compar">
   </form>
   <!-- <div id="loader" class="center"></div> -->

   <!-- <p  class="text-center" id="demo"></p>
   <script type="text/javascript" id="run">
       var start_button = document.getElementById('start_button');
       start_button.onclick = function(){
           document.getElementById('demo').innerHTML="Compar is running"
           return false;
       }

   </script> -->

{% endblock content %}