<!DOCTYPE html>
<html>
<head>
    <script>
    var source = new EventSource("/stream");
    source.onmessage = function(event) {
        document.getElementById("output").innerHTML += event.data + "<br/>"
    }
    </script>
    <style>
        body{background:black;color:white;}
        .white_title{
            background:white;
            color:black;
            height:10%;
            position:fixed;
            display:block;
            margin:0;
            top:0;
            left:0;
            width:100%;
            text-align:center;
        }
        .my_output{
            white-space:pre-wrap;
            font-size:20px;
            margin-top:12%;
        }
    </style>
</head>
<body>
    <div class="white_title">
        <h1>Compar In Progress...</h1>
    </div>
    <div>
        <div class="my_output" id="output"></div>
    </div>
</body>

<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            // build and append a new item to a list to log all output
            var item = document.createElement('li');
            item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            window.location.replace("{{ url_for('results') }}");
        }
    }, 1000);
</script>