<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <title>Compar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/codemirror.js')}}"></script>
    <script src="{{ url_for('static', filename='js/clike/clike.js')}}"></script>
    <script src="{{ url_for('static', filename='js/simplescrollbars.js')}}"></script>
    <script src="{{ url_for('static', filename='js/closebrackets.js')}}"></script>
    <link href="{{ url_for('static', filename='css/codemirror.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/dracula.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script>

        function init() {

            var code_mirror_source_editor = CodeMirror.fromTextArea(document.getElementById('source_editor'), {
                mode: "clike",
                theme: "dracula",
                lineNumbers: true,
                autoCloseBrackets: true
            });

            var code_mirror_result_editor = CodeMirror.fromTextArea(document.getElementById('result_editor'), {
                mode: "clike",
                theme: "dracula",
                lineNumbers: true,
                autoCloseBrackets: true,
                readOnly: true
            });

            var singleModNav = document.getElementById('singlemod');
            singleModNav.style.color = "white";
            singleModNav.style.fontWeight = "bold";
            singleModNav.style.fontSize = "18px";
            singleModNav.style.textDecoration = "underline"
            code_mirror_source_editor.on("change",function(cm,change){
                source_editor.value = code_mirror_source_editor.getValue();
            });

        }

    </script>
    <script>
        var showAdvanced = false;

        function showAdvancedOptions() {
            showAdvanced = !showAdvanced;
            var advanced = document.getElementById('advanced');
            if(showAdvanced){
                advanced.style.display = "flex";
            }
            else{
                advanced.style.display = "none";
            }
        }

        function addParameter(inputId, textAreaId) {
            var paramsInput = document.getElementById(inputId);
            var params = document.getElementById(textAreaId);
            if(params.innerHTML === ''){
                params.innerHTML += paramsInput.value;
            }
            else{
               params.innerHTML += ' ' + paramsInput.value;
            }

        }

        function removeParameter(textAreaId) {
            var params = document.getElementById(textAreaId);
            var p = params.value.split(' ');
            p.pop();
            params.innerHTML = p.join(' ');
        }
    </script>
    <script>
         function Upload_file(fileId, textAreaId) {
            var file = document.getElementById(fileId).files[0];
            var code_mirror_source_editor = $('.CodeMirror')[0].CodeMirror;
            if(file){
                console.log("js file test " + file.name);
                var reader = new FileReader();
                reader.readAsText(file, "UTF-8");
                 console.log("upload file function");
                 reader.onload = function (evt) {
                    document.getElementById('source_editor').innerHTML = evt.target.result;
                    code_mirror_source_editor.setValue(evt.target.result);
                    code_mirror_source_editor.refresh();
                 }
                 reader.onerror = function (evt) {
                    document.getElementById('source_editor').innerHTML = "Error reading file!";
                    code_mirror_source_editor.setValue("Error reading file!");
                    code_mirror_source_editor.refresh();
                 }
             }
        }
    </script>
    <style>

        nav {
            height: 42px;
            display: flex;
            background: gray;
            color: white;
            flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            padding: 4px;
            align-items: center;
            box-shadow: 0px 0px 5px black;
        }

        .navtitle {
            font-weight: bold;
            font-size: 24px;
        }

    </style>
</head>




<body onLoad="init()">
    <nav>
        <div class="navtitle">Compar</div>
        <div class="separator"></div>
        <a href="/singlefile" id="singlemod" class="ref">Single File Mode</a>
        <a href="/multiplefiles" class="seperate ref">Multiple files Mode</a>
        <a href="/makefile" class="seperate ref">Makefile Mode</a>
    </nav>
    <form method="POST" action="/singlefile"  enctype="multipart/form-data" id="form" novalidate>
        {{ form.slurm_parameters(id="slurmParametersList", style="display:none") }}
        {{ form.main_file_parameters(id="mainFileParamList", style="display:none") }}
        {{ form.compiler_flags(id="binaryCompilerFlags", style="display:none") }}
        <div class="page-layout">
            <div class="mycontainer">
                <div class="form-container form">
                    <div class="title">Compar Parameters</div>
                    <div class="form-area">
                        {{ form.csrf_token }}

                        <div style="align-items: center" class="flex-row">
                            <div class="form-title">Binary Compiler:</div>
                            {{ form.compiler(style='margin-left: 30px') }}
                        </div>
                        <div class="horizontal-separator"></div>
                        <div class="advanced" onclick="showAdvancedOptions()">Advanced options >></div>
                        <div id="advanced">
                            <div class="form-title">Binary compiler flags:</div>
                            <div style="align-items: center" class="flex-row">
                                <input type="text" id="compiler-flags"/>
                                <button type="button" onclick="addItem('binaryCompilerFlags','compiler-flags', 'compiler-flags-list')" class="mybutton positive">+</button>
                            </div>
                            <div id="compiler-flags-list"></div>
                            <div class="horizontal-separator"></div>
                            <div class="form-title">Binary compiler version:</div>
                                <div style="color: red;" id="compilerVersionAlert">{{ error }}</div>
                            {{ form.compiler_version }}
                            <div class="horizontal-separator"></div>
                            <div class="form-title">Slurm partition:</div>
                            {{ form.slurm_partition(id="slurm_part") }}
                            <div style="color: red;" id="slurmPartitionAlert">{{ error }}</div>
                            <div class="horizontal-separator"></div>
                            <div style="align-items: center" class="flex-row">
                                <div class="form-title">Save combination folders:</div>
                                {{ form.save_combinations(style='margin-left: 30px')}}
                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="form-title">Slurm parameters:</div>
                            <div class="flex-row-centered">
                             <input type="text" id="slurm-params"/>
                             <button type="button" onclick="addItem('slurmParametersList','slurm-params', 'slurm-parameters-list')" class="mybutton positive">+</button>
                            </div>
                            <div id="slurm-parameters-list"></div>
                            <div class="horizontal-separator"></div>
                            <div class="flex-row-spaced">
                                <div class="form-title">Maximum job count:</div>
                                <div class="tooltip informationButton">i
                                    <span class="tooltiptext">Maximum number of jobs running simultaneously</span>
                                </div>
                            </div>
                            <div style="color: red;" id="jobCount">{{ error }}</div>
                            {{ form.jobs_count }}
                            <div class="horizontal-separator"></div>
                            <div class="flex-row-spaced">
                                <div class="form-title">Execution time limit:</div>
                                <div class="tooltip informationButton">i
                                    <span class="tooltiptext">Time limit for each combination</span>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center" id="time-span">
                                <div class="flex-col">
                                    <div>D</div>
                                    {{ form.days_field(style='width: 50px') }}
                                </div>

                                <div class="flex-col">
                                    <div>H</div>
                                    {{ form.hours_field(style='width: 50px') }}
                                </div>

                                <div class="flex-col">
                                    <div>M</div>
                                    {{ form.minutes_field(style='width: 50px') }}
                                </div>

                                <div class="flex-col">
                                    <div>S</div>
                                    {{ form.seconds_field(style='width: 50px') }}
                                </div>

                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="form-title">Main file parameters:</div>
                            <div class="flex-row-centered">
                             <input type="text" id="main-file-params"/>
                             <button type="button" onclick="addItem('mainFileParamList','main-file-params','main-params-list')" class="mybutton positive">+</button>
                            </div>
                            <div id="main-params-list"></div>
                            <div class="horizontal-separator"></div>
                            <div style="align-items: center" class="flex-row">
                            <div class="form-title">Log level:</div>
                            {{ form.log_level(style='margin-left: 30px') }}
                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="flex-row-spaced">
                               <div class="form-title">Validation file path:</div>
                                <div class="tooltip informationButton">i
                                    <span class="tooltiptext">Absolute path to python file named “test_output.py” with test function “test_output”. This file will validate the output of every combination.</span>
                                </div>
                            </div>
                            {{ form.test_path }}
                            <div style="color: red" id="validationPathAlert"></div>
                        </div>
                        <button type="submit" value="Submit" id="startComparButton" class="startbtn">START</button>
                    </div>
                </div>
                <div class="screen-container">
                    <div style="height: 50%" class="flex-row">
                        <div style="overflow: auto" class="flex-col resizable">
                            <div class="flex-row-spaced title">
                                {{ form.upload_file(id="upload_source_file", style="display:none") }}
                                <div>Source File</div>
                                    <button id="browse_button" type="button" name="upload_button"
                                            onclick="upload_source_file.click()">
                                        Upload
                                    </button>
                            </div>
                            <div class="textarea-cover">
                                {{ form.source_file_code(id="source_editor") }}
                            </div>
                        </div>
                        <div style="margin-left: 20px; direction: rtl; overflow: auto;" class="flex-col resizable">
                            <div style="direction: ltr" class="flex-row-spaced title">
                                <div>Result File</div>
                                <button onclick="downloadFile()" type="button">Download</button>
                            </div>
                            {{ form.result_file_area(id="result_editor") }}
                        </div>
                    </div>
                    <div class="output-log flex-col">
                        <div class="title">Output Log</div>
                        <div class="out">
                            <div id="output"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<script>
    var comparIsRunning = false;

    upload_source_file.onchange = function(){
        console.log("upload file on change triggered");
        Upload_file('upload_source_file','source_file_code');
    }
    function downloadFile(){
        var codeMirrorResultEditor = $('.CodeMirror')[1].CodeMirror;
        resultCode = codeMirrorResultEditor.getValue();
        if (resultCode && !comparIsRunning){
    	var anchor=document.createElement('a');
    	anchor.setAttribute('href',"{{ url_for('download_result_file') }}");
    	anchor.setAttribute('download','');
    	document.body.appendChild(anchor);
    	anchor.click();
    	anchor.parentNode.removeChild(anchor);
    	}
     }

    function handleErrors(errors){
        console.log("handling errors");
        console.log(errors);
        if(errors){
            if (errors.test_path){
                document.getElementById('validationPathAlert').innerHTML = errors.test_path;
            }
            else{
                document.getElementById('validationPathAlert').innerHTML = "";
            }
            if(errors.slurm_partition){
                document.getElementById('slurmPartitionAlert').innerHTML = errors.slurm_partition;
            }
            else{
                document.getElementById('slurmPartitionAlert').innerHTML = "";
            }

        }
        // if (errors && errors.slurm_parameters){
        //     document.getElementById('slurmAlert').innerHTML = errors.slurm_parameters;
        // }
        // else{
        //     document.getElementById('slurmAlert').innerHTML = "";
        // }
    }

    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('single_file_submit') }}"; // send the form data here.
            if(!comparIsRunning){
                source_editor.innerHTML = ($('.CodeMirror')[0].CodeMirror).getValue();
                submitForm(url);
            }
            e.preventDefault(); // block the traditional submission of the form.
        });
    });

  function submitForm(url){
    console.log($('form').serialize());
    var formData = new FormData($('#form')[0]);
    $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: formData, // serializes the form's elements.
                success: function (data) {
                    console.log("received: ")
                    console.log(data)  // display the returned data in the console.
                },
                error: function(error){
                    console.log("received errors: ")
                    console.log(error)
                }
            })
            .done(function(data) {
                handleErrors(data.errors);
                if(!data.errors){
                    run();
                }
            });

        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
  }

  async function* makeTextFileLineIterator(fileURL) {
      const utf8Decoder = new TextDecoder('utf-8');
      const response = await fetch(fileURL, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify ({'mode': 'single-file-mode'})
      });
      const reader = response.body.getReader();
      let { value: chunk, done: readerDone } = await reader.read();
      chunk = chunk ? utf8Decoder.decode(chunk) : '';

      const re = /\n|\r|\r\n/gm;
      let startIndex = 0;
      let result;

      for (;;) {
        let result = re.exec(chunk);
        if (!result) {
          if (readerDone) {
            break;
          }
          let remainder = chunk.substr(startIndex);
          ({ value: chunk, done: readerDone } = await reader.read());
          chunk = remainder + (chunk ? utf8Decoder.decode(chunk) : '');
          startIndex = re.lastIndex = 0;
          continue;
        }
        yield chunk.substring(startIndex, result.index);
        startIndex = re.lastIndex;
      }
      if (startIndex < chunk.length) {
        // last line didn't end in a newline char
        yield chunk.substr(startIndex);
      }
  }

    async function run() {
      if (!comparIsRunning){
          output.innerHTML = "";
          comparIsRunning = true;
          var codeMirrorResultEditor = $('.CodeMirror')[1].CodeMirror;
          var codeMirrorSourceEditor = $('.CodeMirror')[0].CodeMirror;
          codeMirrorSourceEditor.setOption("readOnly", true)
          codeMirrorResultEditor.setValue("Compar in progress ...");
          codeMirrorResultEditor.refresh();
          startComparButton.disabled = true;

          for await (let line of makeTextFileLineIterator("stream_progress")) {
                    var item = document.createElement('li');
                    item.textContent = line;
                    output.appendChild(item);
          }

          var url = "{{ url_for('result_file') }}"
          fetch(url)
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            var codeMirrorResultEditor = $('.CodeMirror')[1].CodeMirror;
            codeMirrorResultEditor.setValue(data.text);
            codeMirrorResultEditor.refresh();
          });

          comparIsRunning = false;
          codeMirrorSourceEditor.setOption("readOnly", false)
          startComparButton.disabled = false;
          // call here to show result file
      }
    }

</script>
<script>
    var binaryCompilerFlags = new Map();
    var slurmParametersList = new Map();
    var mainFileParamList = new Map();

    var mapDictionary = {
        'binaryCompilerFlags': binaryCompilerFlags,
        'slurmParametersList': slurmParametersList,
        'mainFileParamList': mainFileParamList
    }

    function addItem(mapName, inputName, divName){
        var input = document.getElementById(inputName);
        value = input.value;
        if(value !== "")
        {
            var itemId = Date.now();
            mapDictionary[mapName].set(itemId, value);
            appendChilds(mapName, divName);
            updateItem(mapName);
        }
    }

    function removeItem(mapName, itemId, divName) {
        mapDictionary[mapName].delete(itemId);
        appendChilds(mapName, divName);
        updateItem(mapName);
    }

    function createChild(mapName, itemId, value, divName) {
        var containerDiv = document.createElement("div");
        containerDiv.classList.add("flex-row");

        var innerDiv = document.createElement("div");
        innerDiv.innerHTML = value;
        innerDiv.style.width = '210px';
        innerDiv.style.overflow = 'scroll';
        innerDiv.style.margin = '2px 0px';

        var innerButton = document.createElement("button");
        innerButton.innerHTML = "-";
        innerButton.classList.add("mybutton");
        innerButton.classList.add("negative");
        innerButton.onclick = function(){ removeItem(mapName, itemId, divName) };
        innerButton.setAttribute('type', 'button');

        containerDiv.appendChild(innerDiv);
        containerDiv.appendChild(innerButton);

        return containerDiv;
    }

    function appendChilds(mapName, divName){
        var dynamicList = document.getElementById(divName);
        dynamicList.innerHTML = '';
        for(var [itemId, value] of mapDictionary[mapName]){
           var child = createChild(mapName, itemId, value, divName);
           dynamicList.appendChild(child);
        }
    }

    function updateItem(mapName){
        arrayAsText = Array.from(mapDictionary[mapName].values()).join(' ');
        document.getElementById(mapName).value = arrayAsText;
    }

</script>
</html>