<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <title>Compar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/codemirror.js')}}"></script>
    <script src="{{ url_for('static', filename='js/clike/clike.js')}}"></script>
    <script src="{{ url_for('static', filename='js/simplescrollbars.js')}}"></script>
    <link href="{{ url_for('static', filename='css/codemirror.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/dracula.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script>

        function init() {

            var editor1 = CodeMirror.fromTextArea(document.getElementById('editor1'), {
                mode: "clike",
                theme: "dracula",
                lineNumbers: true
            });

            var editor2 = CodeMirror.fromTextArea(document.getElementById('editor2'), {
                mode: "clike",
                theme: "dracula",
                lineNumbers: true
            });

            var singleModNav = document.getElementById('singlemod');
            singleModNav.style.color = "white";
            singleModNav.style.fontWeight = "bold";
            singleModNav.style.fontSize = "16px";
            singleModNav.style.textDecoration = "underline"
        }

    </script>
    <script>
        var showAdvanced = false;

        function showAdvancedOptions() {
            showAdvanced = !showAdvanced;
            var advanced = document.getElementById('advanced');
            if(showAdvanced){
                advanced.style.display = "flex";
            }
            else{
                advanced.style.display = "none";
            }
        }

        function addParameter(inputId, textAreaId) {
            var paramsInput = document.getElementById(inputId);
            var params = document.getElementById(textAreaId);
            if(params.innerHTML === ''){
                params.innerHTML += paramsInput.value;
            }
            else{
               params.innerHTML += ' ' + paramsInput.value;
            }

        }

        function removeParameter(textAreaId) {
            var params = document.getElementById(textAreaId);
            var p = params.value.split(' ');
            p.pop();
            params.innerHTML = p.join(' ');
        }
    </script>
    <style>

        nav {
            height: 42px;
            display: flex;
            background: gray;
            color: white;
            flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            padding: 4px;
            align-items: center;
            box-shadow: 0px 0px 5px black;
        }

        .navtitle {
            font-weight: bold;
            font-size: 24px;
        }

    </style>
</head>




<body onLoad="init()">
    <nav>
        <div class="navtitle">Compar</div>
        <div class="separator"></div>
        <a href="/singlefile" id="singlemod" class="ref">Single File Mode</a>
        <a href="/multiplefiles" class="seperate ref">Multiple files Mode</a>
        <a href="/makefile" class="seperate ref">Makefile Mode</a>
    </nav>
    <div class="page-layout">
        <div class="mycontainer">
            <div class="form-container">
                <div class="title">Compar Parameters</div>
                <div class="form">
                    <div class="form-title">Slurm parameters:</div>
                    <div style="align-items: center" class="flex-row">
                        <input type="text" id="slurm-params"/>
                             <button onclick="addParameter('slurm-params','parameters')" class="mybutton positive">+</button>
                             <button onclick="removeParameter('parameters')" class="mybutton negative">-</button>
                    </div>
                    <textarea readonly style="width: 100%" id="parameters"></textarea>
                    <div class="horizontal-separator"></div>
                    <div style="align-items: center" class="flex-row">
                        <div class="form-title">Save combination folders:</div>
                        <input  style="margin-left:30px" type="checkbox" value="yes">
                    </div>
                    <div class="horizontal-separator"></div>
                    <div style="align-items: center" class="flex-row">
                       <div class="form-title">Compiler:</div>
                        <select style="margin-left: 30px">
                            <option value="GCC">GCC</option>
                            <option value="ICC">ICC</option>
                         </select>
                    </div>
                    <div class="horizontal-separator"></div>
                    <div class="form-title">Compiler version:</div>
                    <input type="text" id="compiler-version"/>
                    <div class="horizontal-separator"></div>
                    <div class="form-title">Compiler flags:</div>
                    <div style="align-items: center" class="flex-row">
                        <input type="text" id="compiler-flags"/>
                        <button onclick="addParameter('compiler-flags','flags')" class="mybutton positive">+</button>
                        <button onclick="removeParameter('flags')" class="mybutton negative">-</button>
                    </div>
                    <textarea readonly style="width: 100%;" id="flags"></textarea>
                    <div class="horizontal-separator"></div>
                    <div class="advanced" onclick="showAdvancedOptions()">Advanced options >></div>
                    <div id="advanced">
                        <div style="align-items: center" class="flex-row">
                        <div class="form-title">Save combination folders:</div>
                        <input  style="margin-left:30px" type="checkbox" id="combination-folders-no" value="yes">
                    </div>
                    </div>
                    <button class="startbtn">START</button>
                </div>
            </div>
            <div class="screen-container">
                <div style="height: 50%" class="flex-row">
                    <div class="flex-col">
                        <div class="flex-row-spaced title">
                            <div>Source File</div>
                            <button>Upload</button>
                        </div>
                        <div class="textarea-cover">
                            <textarea id="editor1">{{source_file}}</textarea>
                        </div>
                    </div>
                    <div style="margin-left: 20px;" class="flex-col">
                        <div class="flex-row-spaced title">
                            <div>Result File</div>
                            <button>Download</button>
                        </div>
                        <textarea readonly id="editor2">{{result_file}}</textarea>
                    </div>
                </div>
                <div class="output-log flex-col">
                    <div class="title">Output Log</div>
                    <div class="out">
                        <div id="output"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>



<script>
  async function* makeTextFileLineIterator(fileURL) {
      const utf8Decoder = new TextDecoder('utf-8');
      const response = await fetch(fileURL);
      const reader = response.body.getReader();
      let { value: chunk, done: readerDone } = await reader.read();
      chunk = chunk ? utf8Decoder.decode(chunk) : '';

      const re = /\n|\r|\r\n/gm;
      let startIndex = 0;
      let result;

      for (;;) {
        let result = re.exec(chunk);
        if (!result) {
          if (readerDone) {
            break;
          }
          let remainder = chunk.substr(startIndex);
          ({ value: chunk, done: readerDone } = await reader.read());
          chunk = remainder + (chunk ? utf8Decoder.decode(chunk) : '');
          startIndex = re.lastIndex = 0;
          continue;
        }
        yield chunk.substring(startIndex, result.index);
        startIndex = re.lastIndex;
      }
      if (startIndex < chunk.length) {
        // last line didn't end in a newline char
        yield chunk.substr(startIndex);
      }
  }

    async function run() {
      for await (let line of makeTextFileLineIterator("stream_progress")) {
                var item = document.createElement('li');
                item.textContent = line;
                output.appendChild(item);
      }
    // call here to show result file
    }

    run();
</script>
</html>